---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>💾 Welcome to My Personal Homepage!</h1>

	<h5>Elevator pitch:</h5>

	  <p>Hi, my name is Arttu Nikkilä.</p>

	  <p>I create beautiful websites and ensure accurate analytics data.</p>
	
	  <p>
		In my current role as a developer I adapt to a wide range of situations deeply in the <em>client interface</em>,
		balancing technical expertise with customer-facing responsibilities in the field of eCommerce.
	  </p>
	
	  <p>Explore the site and enjoy your stay!</p>
	
	  <p>-Arttu :)</p>

      <p><marquee behavior="alternate" scrollamount="3">🛸 UNDER CONSTRUCTION 🛸</marquee></p>
    </main>
    <Footer />
  </body>
</html>
