---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>

    <button class="hamburger" id="hamburger-btn" aria-label="Menu toggle">
      <img src="/hamburger.png" alt="Menu" />
    </button>

    <div class="internal-links" id="nav-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/experience">Experience</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
	  <HeaderLink href="/skills">Skills</HeaderLink>
      <HeaderLink href="/about">About me</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  .internal-links {
    display: flex;
    gap: 1em;
  }

  .hamburger {
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    display: none;
  }

  .hamburger img {
    height: 30px;
    width: 30px;
  }

  @media (max-width: 720px) {
    .hamburger {
      display: block;
    }

    .internal-links {
      flex-direction: column;
      width: 100%;
      display: none;
    }

    .internal-links.show {
      display: flex;
    }
  }
</style>

<!-- Run the script on the client -->
<script>
  import { setupHamburgerMenu } from '../scripts/hamburger.ts';
  setupHamburgerMenu();
</script>
